## Combining & Exporting Data

#### Content
1. Merging orders and products databases

In [18]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [19]:
df_ords_prior = pd.read_csv(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [20]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [21]:
df_ords_prior.shape

(32434489, 4)

In [22]:
df_ords = pd.read_csv(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [23]:
df_ords.shape

(3421083, 7)

In [24]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [25]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [26]:
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

In [27]:
df_merged_large.to_pickle(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [28]:
df_merged_large.shape

(32434489, 11)

In [29]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both