## Data Consistency Checks

#### Content
1. Consistency checks on orders and products databases

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
df_ords = pd.read_csv(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Prepared Data\orders_wrangled.csv', index_col = False)

In [3]:
df_prods = pd.read_csv(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [4]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [5]:
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [6]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [7]:
df_prods.shape

(49693, 5)

In [8]:
df_prods_clean=df_prods[df_prods['product_name'].isnull()==False]

In [9]:
df_prods_clean.shape

(49677, 5)

In [10]:
df_dup=df_prods_clean[df_prods_clean.duplicated()]

In [11]:
df_dup

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [12]:
df_prods_clean_no_dups=df_prods_clean.drop_duplicates()

In [13]:
df_prods_clean_no_dups.shape

(49672, 5)

###### 2. Describe function
The maximum price looks wrong

In [14]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

###### 3. Mixed-type data
Orders dataframe does not have columns with mixed-type data

In [15]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [16]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_id.1              int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

###### 5. Missing values
The column 'days_since_prior_order' has many null values. These are the customers that are ordering for the first time, so there is prior order.

In [17]:
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_id.1                     0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

###### 6. Addressing missing values
Since the null values are customers that are ordering for the first time, I have imputed the string 'New Customer'

In [18]:
df_ords['days_since_prior_order'].fillna('New Customer',inplace=True)

###### 7. Checking duplicated for orders data set
No duplicates are found in this data set

In [19]:
df_dup_ords=df_ords[df_ords.duplicated()]

In [20]:
df_dup_ords

Empty DataFrame
Columns: [order_id, user_id, order_id.1, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [24]:
df_ords.info

<bound method DataFrame.info of          order_id  user_id  order_id.1  orders_day_of_week  order_hour_of_day  \
0         2539329        1           1                   2                  8
1         2398795        1           2                   3                  7
2          473747        1           3                   3                 12
3         2254736        1           4                   4                  7
4          431534        1           5                   4                 15
...           ...      ...         ...                 ...                ...
3421078   2266710   206209          10                   5                 18
3421079   1854736   206209          11                   4                 10
3421080    626363   206209          12                   1                 12
3421081   2977660   206209          13                   1                 12
3421082    272231   206209          14                   6                 14

        days_since_prior_order
0                 New Customer
1                           15
2                           21
3                           29
4                           28
...                        ...
3421078                     29
3421079                     30
3421080                     18
3421081                      7
3421082                     30

[3421083 rows x 6 columns]>

In [25]:
df_prods_clean_no_dups.info

<bound method DataFrame.info of        product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49672 rows x 5 columns]>

In [21]:
#exporting orders dataframe
df_ords.to_csv(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Prepared Data\orders_clean.csv', index = False)

In [23]:
#exporting products dataframe
df_prods_clean_no_dups.to_csv(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Prepared Data\products_clean.csv', index = False)